* {
  margin: 0;
  padding: 0;
}

.sliderContainer {
  width: 278px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 1s ease;
}

.sliderContainer.hovered {
  background-color: green;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
  color: white;
  margin: 0 0 0 35px;
  z-index: 1;
}

.slider {
  width: 48px;
  height: 48px;
  border-radius: 15px;
  background-color: green;
  position: absolute;
  left: 6px;
  transition: left 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sliderHovered {
  left: 225px;
}




